<head>
<script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
  analytics.load("o0vLSgJElRwPcNlZ1ODuNm4e6qFYujIv");
  analytics.page()
  }}();
  </script>

</head>
  <div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h2 id="log-in-title">Log in</h2>
    <div class="auth-form well">
    <%= form_for(User.new, url: login_path) do |f| %>

      <%=f.label :username%>
      <div class="input-group">
        <span class="input-group-addon">@</span>
          <%= f.text_field :username, class: "form-control"%>
      </div>

      <div class="actions">
        <%= f.submit "log in", class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
    <%= render partial: 'layouts/flash_errors'%>
  </div>
</div>
